.calculator {
    width: 28rem;
    margin: auto;
    border: 1px solid #1795d4;
}

.calculator-header {
    background: #1795d4;
    line-height: 6rem;
    text-align: center;
}

.calculator-header img {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.buttons-container {
    width: 28rem;
    height: 28rem;
}